@model MvcLawFirm.Models.NRBM_COURTAPPEARANCE

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>COURT APPEARANCE</legend>
        @Html.HiddenFor(model=> model.CAID)
        @Html.HiddenFor(model=> model.CASEID)
        <div class="editor-label">
            @Html.LabelFor(model => model.CLIENTID, "CLIENT")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CLIENTID", String.Empty)
            @Html.ValidationMessageFor(model => model.CLIENTID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAWID, "LAWYER")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LAWID", String.Empty)
            @Html.ValidationMessageFor(model => model.LAWID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADLAWID, "ADVERSE LAWYER")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ADLAWID", String.Empty)
            @Html.ValidationMessageFor(model => model.ADLAWID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATEON, "DATE")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATEON)
            @Html.ValidationMessageFor(model => model.DATEON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RESULTS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RESULTS)
            @Html.ValidationMessageFor(model => model.RESULTS)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/jquery.ui.core.min.js", "~/Scripts/jquery.ui.datepicker.min.js", "~/Scripts/DatePickerReady.js")
    @Styles.Render("~/Content/themes/base/jquery.ui.core.css", "~/Content/themes/base/jquery.ui.datepicker.css", "~/Content/themes/base/jquery.ui.theme.css")
}
