@model MvcLawFirm.Models.NRBM_COURTAPPEARANCE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Court Appearance</h2>

<h3>Are you sure you want to delete this?</h3>
<table>
    <tr>
        <th>
            Client
        </th>
        <th>
            Lawyer
        </th>
        <th>
            Adverse Lawyer
        </th>
        <th>
            Court Date
        </th>
        <th>
            Results
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.NRBM_CLIENT.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.NRBM_ADVERSELAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.DATEON)
        </td>
        <td>
            @Html.DisplayFor(model => model.RESULTS)
        </td>
        <td>
            @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <p>
                 <input type="submit" value="Delete" /> |
                 @Html.ActionLink("Back to List", "Index")
            </p>
            }
        </td>
    </tr>


</table>