@model MvcLawFirm.Models.NRBM_COURTAPPEARANCE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>COURT APPEARANCE</legend>

<<<<<<< HEAD
    <!--<div class="display-label">
         @Html.DisplayNameFor(model => model.CAID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAID)
    </div>-->

=======
>>>>>>> 0eb27bb18fde4fb412fc7305adde719f3847945e
    <div class="display-label">
         CLIENT
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_CLIENT.FNAME) @Html.DisplayFor(model => model.NRBM_CLIENT.LNAME)
    </div>

    <div class="display-label">
         LAWYER
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_LAWYER.FNAME) @Html.DisplayFor(model => model.NRBM_LAWYER.LNAME)
    </div>

    <div class="display-label">
         ADVERSE LAWYER
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_ADVERSELAWYER.FNAME) @Html.DisplayFor(model => model.NRBM_ADVERSELAWYER.LNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATEON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATEON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RESULTS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RESULTS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
