@model MvcLawFirm.Models.NRBM_COURTAPPEARANCE

@{
    ViewBag.Title = "Details";
}

<h2>Court Details</h2>

<fieldset>
    <legend>Court Appearance</legend>
        @Html.HiddenFor(model=> model.CAID)
        @Html.HiddenFor(model=> model.CASEID)

    <div class="display-label">
         Client
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_CLIENT.FullName)
    </div>

    <div class="display-label">
         Lawyer
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_LAWYER.FullName)
    </div>

    <div class="display-label">
         Adverse Lawyer
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_ADVERSELAWYER.FullName)
    </div>

    <div class="display-label">
         Court Date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATEON)
    </div>

    <div class="display-label">
         Results
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RESULTS)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CAID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
