@model IEnumerable<MvcLawFirm.Models.NRBM_COURTAPPEARANCE>

@{
    ViewBag.Title = "Results";
}

<h2>Court Search Results</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<table>
    <tr>
        <th>
            CLIENT
        </th>
        <th>
            LAWYER
        </th>
        <th>
            ADVERSE LAWYER
        </th>
        <th>
            DATE
        </th>
        <th>
            RESULTS
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_CLIENT.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_ADVERSELAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESULTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CAID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CAID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CAID })
        </td>
    </tr>
}

</table>