@model MvcLawFirm.Models.NRBM_WORKSFOR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>NRBM_WORKSFOR</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WORKID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WORKID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STAFFID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STAFFID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAWID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAWID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SALARY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SALARY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOURS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOURS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
