@model MvcLawFirm.Models.NRBM_WORKSVIEW

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Works For Relation</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>NRBM_WORKSFOR</legend>

    <div class="display-label">
         STAFF
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SFNAME) @Html.DisplayFor(model => model.SLNAME)
    </div>

    <div class="display-label">
         LAWYER
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LFNAME) @Html.DisplayFor(model => model.LLNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STARTDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STARTDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENDDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENDDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SALARY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SALARY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOURS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOURS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
