@model MvcLawFirm.Models.NRBM_WORKSVIEW

@{
    ViewBag.Title = "Details";
}

<h2>Works For Relation Details</h2>

<fieldset>
    <legend>NRBM_WORKSFOR</legend>

    <div class="display-label">
         STAFF
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SFNAME) @Html.DisplayFor(model => model.SLNAME)
    </div>

    <div class="display-label">
         LAWYER
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LFNAME) @Html.DisplayFor(model => model.LLNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STARTDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STARTDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENDDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENDDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SALARY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SALARY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOURS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOURS)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { wid=Model.WORKID, sid=Model.STAFFID, lid=Model.LAWID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
