@model IEnumerable<MvcLawFirm.Models.NRBM_WORKSVIEW>

@{
    ViewBag.Title = "Index";
}

<h2>Staff Salaries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
       <th>
            STAFF
        </th>
        <th>
            LAWYER
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALARY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOURS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SFNAME) @Html.DisplayFor(modelItem => item.SLNAME)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.LFNAME) @Html.DisplayFor(modelItem => item.LLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STARTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENDDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALARY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOURS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WORKID }) |<br />
            @Html.ActionLink("Details", "Details", new { id=item.WORKID }) |<br />
            @Html.ActionLink("Delete", "Delete", new { id=item.WORKID })
        </td>
    </tr>
}

</table>
