@model MvcLawFirm.Models.NRBM_CLIENT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Client</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>NRBM_CLIENT</legend>

    <!--<div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENTID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENTID)
    </div>-->

   <div class="display-label">
        NAME
        <!-- @Html.DisplayNameFor(model => model.FNAME)-->
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FNAME) @Html.DisplayFor(model => model.LNAME)
    </div>
    <!--
    <div class="display-label">
         @Html.DisplayNameFor(model => model.LNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LNAME)
    </div>
        -->

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUSNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUSNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMAIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMAIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADDRESS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADDRESS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
