@model MvcLawFirm.Models.NRBM_CLIENT

@{
    ViewBag.Title = "Details";
}

<h2>Client Details</h2>

<fieldset>
    <legend>Client</legend>

   <div class="display-label">
        Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FNAME) @Html.DisplayFor(model => model.LNAME)
    </div>

    <div class="display-label">
         Business Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUSNAME)
    </div>

    <div class="display-label">
         Email
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMAIL)
    </div>

    <div class="display-label">
         Address
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADDRESS)
    </div>

    <div class="display-label">
         Date of Birth
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CLIENTID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
