@model IEnumerable<MvcLawFirm.Models.NRBM_LITIGATES>

@{
    MvcLawFirm.Models.LawFirmDbContext db = new MvcLawFirm.Models.LawFirmDbContext();
    var adLawyers =
        from adlaw in db.NRBM_ADVERSELAWYER
        from lit in db.NRBM_LITIGATES
        where adlaw.ADLAWID == lit.ADLAWID
        from cases in db.NRBM_CASE
        where cases.CASEID == lit.CASEID
        select new { lit.LITID, adlaw.FNAME, adlaw.LNAME, CaseStart = cases.SDATE, CaseEnd = cases.EDATE, LitStart = lit.SDATE, LitEnd = lit.EDATE, lit.RESULTS };
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ADVERSE LAWYER
        </th>
        <th>
            CASE START
        </th>
        <th>
            CASE END
        </th>
        <th>
            LITIGATION START
        </th>
        <th>
            LITIGATION END
        </th>
        <th>
            RESULTS
        </th>
        <th></th>
    </tr>

@foreach (var item in adLawyers) {
    <tr>
        <td>
            @Html.DisplayFor(adLawyersItem => item.FNAME) @Html.DisplayFor(adLawyersItem => item.LNAME)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.CaseStart)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.CaseEnd)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.LitStart)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.LitEnd)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.RESULTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LITID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LITID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LITID })
        </td>
    </tr>
}

</table>
