@model IEnumerable<MvcLawFirm.Models.NRBM_LITIGATES>

@{
    MvcLawFirm.Models.LawFirmDbContext db = new MvcLawFirm.Models.LawFirmDbContext();
    var adLawyers =
        from adlaw in db.NRBM_ADVERSELAWYER
        join lit in db.NRBM_LITIGATES on adlaw.ADLAWID equals lit.ADLAWID
        select new { FirstName = adlaw.FNAME, LastName = adlaw.LNAME, lit.SDATE, lit.EDATE, lit.RESULTS, lit.LITID };
    
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ADVERSE LAWYER
        </th>
        <th>
            START DATE
        </th>
        <th>
            END DATE
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESULTS)
        </th>
        <th></th>
    </tr>

@foreach (var item in adLawyers) {
    <tr>
        <td>
            @Html.DisplayFor(adLawyersItem => item.FirstName) @Html.DisplayFor(adLawyersItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.SDATE)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.EDATE)
        </td>
        <td>
            @Html.DisplayFor(adLawyersItem => item.RESULTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LITID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LITID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LITID })
        </td>
    </tr>
}

</table>
