@model MvcLawFirm.Models.NRBM_ADVERSELAWYER

@{
    ViewBag.Title = "Create";
}

<h2>Create New Entry for Adverse Lawyer</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Adverse Lawyer</legend>
        <div class="editor-label">
            First Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FNAME)
            @Html.ValidationMessageFor(model => model.FNAME)
        </div>

        <div class="editor-label">
            Last Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LNAME)
            @Html.ValidationMessageFor(model => model.LNAME)
        </div>

        <div class="editor-label">
            Address
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADDRESS)
            @Html.ValidationMessageFor(model => model.ADDRESS)
        </div>

        <div class="editor-label">
            Email
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMAIL)
            @Html.ValidationMessageFor(model => model.EMAIL)
        </div>

        <div class="editor-label">
            Phone Number
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PHONE)
            @Html.ValidationMessageFor(model => model.PHONE)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Form</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
