@model MvcLawFirm.Models.NRBM_ADVERSELAWYER

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NRBM_ADVERSELAWYER</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADLAWID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADLAWID)
            @Html.ValidationMessageFor(model => model.ADLAWID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FNAME)
            @Html.ValidationMessageFor(model => model.FNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LNAME)
            @Html.ValidationMessageFor(model => model.LNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADDRESS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADDRESS)
            @Html.ValidationMessageFor(model => model.ADDRESS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EMAIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMAIL)
            @Html.ValidationMessageFor(model => model.EMAIL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PHONE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PHONE)
            @Html.ValidationMessageFor(model => model.PHONE)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
