@model MvcLawFirm.Models.NRBM_SETS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NRBM_SETS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SETSID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SETSID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STAFFID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STAFFID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APTID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APTID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATESET)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATESET)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SETSID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
