@model MvcLawFirm.Models.NRBM_PHONE

@{
    ViewBag.Title = "Details";
}

<h2>Client's Phone Number Details</h2>

<fieldset>
    <legend>NRBM_PHONE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENTID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENTID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CELL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CELL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUSINESS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUSINESS)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PHONEID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
