@model IEnumerable<MvcLawFirm.Models.NRBM_PHONE>

@{
    ViewBag.Title = "Index";
}

<h2>Client's Phone Numbers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Home
        </th>
        <th>
            Cell
        </th>
        <th>
            Business
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUSINESS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PHONEID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PHONEID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PHONEID })
        </td>
    </tr>
}

</table>
