@model MvcLawFirm.Models.NRBM_CASE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Case</h2>

<h3>Are you sure you want to delete this?</h3>
<table>
    <tr>
        <th>
            Client
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Evidence
        </th>
        <th>
            Category
        </th>
        <th>
            Litigation
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

    <tr>
        <td>           
            @Html.DisplayFor(model => model.NRBM_CLIENT.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.SDATE)
        </td>
        <td>
            @Html.DisplayFor(model => model.EDATE)
        </td>
        <td>
            @Html.DisplayFor(model => model.EVIDENCE)
        </td>
        <td>
            @Html.DisplayFor(model => model.CATEGORY)
        </td>
        <td>
            @Html.DisplayFor(model => model.LITIGATION)
        </td>
        <td>
            @Html.DisplayFor(model => model.NOTES)
        </td>
        <td>
            @using (Html.BeginForm()){
            @Html.AntiForgeryToken()
            <p>
                 <input type="submit" value="Delete" /> |
                 @Html.ActionLink("Back to List", "Index")
            </p>
            }
        </td>
    </tr>

</table>
