@model IEnumerable<MvcLawFirm.Models.NRBM_CASE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CLIENT
        </th>
        <th>
            START DATE
        </th>
        <th>
            END DATE
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_CLIENT.FNAME) @Html.DisplayFor(modelItem => item.NRBM_CLIENT.LNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CASEID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CASEID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CASEID })
        </td>
    </tr>
}

</table>
