@model MvcLawFirm.Models.NRBM_APPOINTMENT

@{
    ViewBag.Title = "Create";
}

<h2>Create an Appointment</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Appointment</legend>

        <div class="editor-label">
            <label for="LAWID">Lawyer</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("LAWID", String.Empty) @Html.ActionLink("Create New Lawyer", "../Lawyer/Create")
            @Html.ValidationMessageFor(model => model.LAWID)
        </div>

        <div class="editor-label">
            <label for="CLIENTID">Client</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("CLIENTID", String.Empty) @Html.ActionLink("Create New Client", "../Client/Create")
            @Html.ValidationMessageFor(model => model.CLIENTID)
        </div>

        <div class="editor-label">
            <label for="DATEON">Date</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATEON)
            @Html.ValidationMessageFor(model => model.DATEON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LOCATION, "Location")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOCATION)
            @Html.ValidationMessageFor(model => model.LOCATION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRIPTION, "Description")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESCRIPTION)
            @Html.ValidationMessageFor(model => model.DESCRIPTION)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/jquery.ui.core.min.js", "~/Scripts/jquery.ui.datepicker.min.js", "~/Scripts/DatePickerReady.js")
    @Styles.Render("~/Content/themes/base/jquery.ui.core.css", "~/Content/themes/base/jquery.ui.datepicker.css", "~/Content/themes/base/jquery.ui.theme.css")
}
