@model MvcLawFirm.Models.NRBM_APPOINTMENT

@{
    ViewBag.Title = "Details";
}

<h2>Appointment Details</h2>

<fieldset>
    <legend>Appointment</legend>

    <div class="display-label">
         Lawyer
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_LAWYER.FullName)
    </div>

    <div class="display-label">
         Client
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_CLIENT.FullName)
    </div>

    <div class="display-label">
         Date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATEON)
    </div>

    <div class="display-label">
         Location
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOCATION)
    </div>

    <div class="display-label">
         Description
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPTION)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.APTID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
