@model MvcLawFirm.Models.NRBM_APPOINTMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>APPOINTMENT</legend>

    <div class="display-label">
         LAWYER
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_LAWYER.FNAME) @Html.DisplayFor(model => model.NRBM_LAWYER.LNAME)
    </div>

    <div class="display-label">
         CLIENT
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_CLIENT.FNAME) @Html.DisplayFor(model => model.NRBM_CLIENT.LNAME)
    </div>

    <div class="display-label">
         DATE
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATEON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOCATION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOCATION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCRIPTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPTION)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.APTID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
