@model IEnumerable<MvcLawFirm.Models.NRBM_APPOINTMENT>

@{
    ViewBag.Title = "Index";
}
<h2>Appointment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
     @using (Html.BeginForm("Results", "Appointment")){    
         <p> Search: @Html.TextBox("SearchString") <br />   
         <input type="submit" value="Filter" /></p> 
     } 
<table>
    <tr>
        <th>
            LAWYER
        </th>
        <th>
            CLIENT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_CLIENT.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.APTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.APTID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.APTID })
        </td>
    </tr>
}

</table>