@model IEnumerable<MvcLawFirm.Models.NRBM_APPOINTMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.APTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAWID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CASEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.APTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAWID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CASEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.APTID}) |
            @Html.ActionLink("Details", "Details", new { id=item.APTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.APTID })
        </td>
    </tr>
}

</table>
