@model IEnumerable<MvcLawFirm.Models.NRBM_APTVIEW>

@{
    ViewBag.Title = "Index";
}

<h2>Appointment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            LAWYER
        </th>
        <th>
            CLIENT
        </th>
        <th>
            DATE
        </th>
        <th>
            LOCATION
        </th>
        <th>
            DESCRIPTION
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LFNAME) @Html.DisplayFor(modelItem => item.LLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFNAME) @Html.DisplayFor(modelItem => item.CLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.APTID}) |
            @Html.ActionLink("Details", "Details", new { id=item.APTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.APTID })
        </td>
    </tr>
}

</table>
