@model MvcLawFirm.Models.AppointmentView

@{
    ViewBag.Title = "Index";
}

<h2>Appointment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
       <!-- <th>
            @Html.DisplayNameFor(model => model.Appointment.APTID)
        </th> -->
        <th>
            LAWYER
        </th>
        <th>
            CLIENT
        </th>
        <th>
            DATE
        </th>
        <th>
            LOCATION
        </th>
        <th>
            DESCRIPTION
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.LawFname.GetEnumerator().MoveNext().ToString())
        </td>
        <!--<td>
            @Html.DisplayFor(modelItem => item.CLIENTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>-->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.APTID}) |
            @Html.ActionLink("Details", "Details", new { id=item.APTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.APTID })
        </td>
    </tr>
}

</table>
