@model IEnumerable<MvcLawFirm.Models.NRBM_APPOINTMENT>

@{
    ViewBag.Title = "Results";
}


<h2>Appointment Search Results</h2>
<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<table>
    <tr>
        <th>
            Lawyer
        </th>
        <th>
            Client
        </th>
        <th>
            Date
        </th>
        <th>
            Location
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_CLIENT.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.APTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.APTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.APTID })
        </td>
    </tr>
}

</table>
