@model MvcLawFirm.Models.NRBM_COUNSELS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Counsels Relation</h2>

<h3>Are you sure you want to delete this?</h3>
<table>
    <tr>
        <th>
            Lawyer
        </th>
        <th>
            Client
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Hours
        </th>
        <th>
            Fees
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.NRBM_CLIENT.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.SDATE)
        </td>
        <td>
            @Html.DisplayFor(model => model.EDATE)
        </td>
        <td>
            @Html.DisplayFor(model => model.HOURS)
        </td>
        <td>
            @Html.DisplayFor(model => model.FEES)
        </td>
        <td>
            @using (Html.BeginForm()) {
             <p>
                 <input type="submit" value="Delete" /> |
                 @Html.ActionLink("Back to List", "Index")
             </p>
            }
        </td>
    </tr>

</table>