@model MvcLawFirm.Models.NRBM_COUNSELS

@{
    ViewBag.Title = "Details";
}

<h2>Counsels Relation Details</h2>

<fieldset>
    <legend>COUNSELS</legend>

    <div class="display-label">
         Lawyer
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_LAWYER.FullName)
    </div>

    <div class="display-label">
         Client
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NRBM_CLIENT.FullName)
    </div>

    <div class="editor-label">
        Start Date
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.SDATE)
    </div>

    <div class="editor-label">
        End Date
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.EDATE)
    </div>

    <div class="display-label">
         Hours
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOURS)
    </div>

    <div class="display-label">
         Fees
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FEES)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.COUNSELSID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
