@model IEnumerable<MvcLawFirm.Models.NRBM_COUNSELSVIEW>

@{
    ViewBag.Title = "Index";
}

<h2>Counsels Relations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
       <!-- <th>
            @Html.DisplayNameFor(model => model.LAWID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTID)
        </th>-->
        <th> LAWYER</th>
        <th> CLIENT</th>
        <th>
            STARTDATE
        </th>
        <th>
            ENDDATE
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOURS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEES)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       <!-- <td>
            @Html.DisplayFor(modelItem => item.LAWID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTID)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.LFNAME) @Html.DisplayFor(modelItem => item.LLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFNAME) @Html.DisplayFor(modelItem => item.CLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STARTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENDDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOURS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEES)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COUNSELSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.COUNSELSID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COUNSELSID })
        </td>
    </tr>
}

</table>
