@model IEnumerable<MvcLawFirm.Models.NRBM_COUNSELS>

@{
    ViewBag.Title = "Index";
}

<h2>Counsels</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
     @using (Html.BeginForm("Results", "Counsels")){    
         <p> Search: @Html.TextBox("SearchString") <br />   
         <input type="submit" value="Filter" /></p> 
     }
<table>
    <tr>
        <th>
            Lawyer
        </th>
        <th>
            Client
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_CLIENT.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COUNSELSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.COUNSELSID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COUNSELSID })
        </td>
    </tr>
}

</table>