@model MvcLawFirm.Models.NRBM_WORKSFOR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Works For Relation</h2>

<h3>Are you sure you want to delete this?</h3>
<table>
    <tr>
        <th>
            Staff
        </th>
        <th>
            Lawyer
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Salary
        </th>
        <th>
            Hours
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.NRBM_STAFF.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.SDATE)
        </td>
        <td>
            @Html.DisplayFor(model => model.EDATE)
        </td>
        <td>
            @Html.DisplayFor(model => model.SALARY)
        </td>
        <td>
            @Html.DisplayFor(model => model.HOURS)
        </td>
        <td>
        @using (Html.BeginForm()) {
         @Html.AntiForgeryToken()
         <p>
              <input type="submit" value="Delete" /> |
              @Html.ActionLink("Back to List", "Index")
         </p>
        }
        </td>
    </tr>

</table>
