@model IEnumerable<MvcLawFirm.Models.NRBM_WORKSFOR>

@{
    ViewBag.Title = "Index";
}

<h2>Works For</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
     @using (Html.BeginForm("Results", "Work")){    
         <p> Search: @Html.TextBox("SearchString") <br />   
         <input type="submit" value="Filter" /></p> 
     }
<table>
    <tr>
        <th>
            STAFF
        </th>
        <th>
            LAWYER
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_STAFF.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOURS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WORKID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WORKID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WORKID })
        </td>
    </tr>
}

</table>
