@model IEnumerable<MvcLawFirm.Models.NRBM_WORKSFOR>

@{
    ViewBag.Title = "Results";
}

<h2>Works For Search Results</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<table>
    <tr>
        <th>
            Staff
        </th>
        <th>
            Lawyer
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Salary
        </th>
        <th>
            Hours
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_STAFF.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRBM_LAWYER.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALARY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOURS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WORKID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WORKID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WORKID })
        </td>
    </tr>
}

</table>
