@model MvcLawFirm.Models.NRBM_LAWYER

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NRBM_LAWYER</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAWID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAWID)
            @Html.ValidationMessageFor(model => model.LAWID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FNAME)
            @Html.ValidationMessageFor(model => model.FNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LNAME)
            @Html.ValidationMessageFor(model => model.LNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POSITION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POSITION)
            @Html.ValidationMessageFor(model => model.POSITION)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
