@model MvcLawFirm.Models.NRBM_LAWYER

@{
    ViewBag.Title = "Delete Lawyer";
}

<h2>Delete Lawyer</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Lawyer</legend>
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="display-label">
         Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FNAME) @Html.DisplayFor(model => model.LNAME)
    </div>

    <div class="display-label">
         Position
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.POSITION)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
