@model MvcLawFirm.Models.NRBM_LAWYER

@{
    ViewBag.Title = "Lawyer Details";
}

<h2>Lawyer Details</h2>

<fieldset>
    <legend>Lawyer</legend>

    <div class="display-label">
         Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FNAME) @Html.DisplayFor(model => model.LNAME)
    </div>

    <div class="display-label">
         Position
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.POSITION)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LAWID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
