@model MvcLawFirm.Models.NRBM_LAWYER

@{
    ViewBag.Title = "Edit Lawyer";
}

<h2>Edit Lawyer</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lawyer</legend>

        <div class="editor-label">
            First Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FNAME)
            @Html.ValidationMessageFor(model => model.FNAME)
        </div>

        <div class="editor-label">
            Last Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LNAME)
            @Html.ValidationMessageFor(model => model.LNAME)
        </div>

        <div class="editor-label">
            Position
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POSITION)
            @Html.ValidationMessageFor(model => model.POSITION)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
