@model IEnumerable<MvcLawFirm.Models.NRBM_LAWYER>

@{
    ViewBag.Title = "Index";
}

<h2>Lawyers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            NAME
        </th>
        <th>
            POSITION
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FNAME) @Html.DisplayFor(modelItem => item.LNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSITION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LAWID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LAWID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LAWID })
        </td>
    </tr>
}

</table>
