@model IEnumerable<MvcLawFirm.Models.NRBM_LAWYER>

@{
    ViewBag.Title = "Index";
}

<h2>Lawyers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
<<<<<<< HEAD
        <th>
            Name
        </th>
=======
      <!--  <th>
            @Html.DisplayNameFor(model => model.LAWID)
        </th>-->
>>>>>>> 6a889087a5b067b3d4dd289fa7407fb1a8ce9926
        <th>
            Position
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
<<<<<<< HEAD
        <td>
            @Html.DisplayFor(modelItem => item.FNAME) @Html.DisplayFor(modelItem => item.LNAME)
=======
        <!--<td>
            @Html.DisplayFor(modelItem => item.LAWID)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.FNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LNAME)
>>>>>>> 6a889087a5b067b3d4dd289fa7407fb1a8ce9926
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSITION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LAWID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LAWID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LAWID })
        </td>
    </tr>
}

</table>
