@model IEnumerable<MvcLawFirm.Models.NRBM_LAWYER>

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width: 100%;">
    <tr>
        <th>
            Name
        </th>
        <th>
            Position
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earnings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointments)
        </th>
        <th>
            Court Dates
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clients)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSITION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Earnings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expenses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourtAppearances)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clients)
        </td>
        <td>
            @Html.ActionLink("Details", "ReportDetails", new { id=item.LAWID })
        </td>
    </tr>
}

</table>
