@model IEnumerable<MvcLawFirm.Models.NRBM_COURTVIEW>

@{
    ViewBag.Title = "Index";
}

<h2>Court Appearances</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th> LAWYER </th>
        <th> CLIENT </th>
        <th> ADVERSELAWYER </th>
        <th> COURTDATE </th>
        <th> RESULTS </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LFNAME) @Html.DisplayFor(modelItem => item.LLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFNAME) @Html.DisplayFor(modelItem => item.CLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALFNAME) @Html.DisplayFor(modelItem => item.ALLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COURTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESULTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CAID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CAID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CAID })
        </td>
    </tr>
}

</table>
