@model IEnumerable<MvcLawFirm.Models.NRBM_COURTAPPEARANCE>

@{
    ViewBag.Title = "Index";
}

<h2>Court Appearances</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
       <!-- <th>
            @Html.DisplayNameFor(model => model.CASEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAWID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADLAWID)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.DATEON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESULTS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      <!--  <td>
            @Html.DisplayFor(modelItem => item.CASEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAWID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADLAWID)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.DATEON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESULTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CAID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CAID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CAID })
        </td>
    </tr>
}

</table>
