@model MvcLawFirm.Models.NRBM_STAFF

@{
    ViewBag.Title = "Details";
}

<h2>Staff Details</h2>

<fieldset>
    <legend>Staff</legend>

    <div class="display-label">
         First Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FNAME)
    </div>

    <div class="display-label">
         Last Name
    </div>
    <div class="display-field">
         @Html.DisplayFor(model => model.LNAME)
    </div>
    <div class="display-label">
         Title
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TITLE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.STAFFID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
