@model MvcLawFirm.Models.NRBM_STAFF

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <fieldset>
        <legend>STAFF</legend>

        <div class="display-label">
         FIRST NAME
        </div>
        <div class="display-field">
        @Html.DisplayFor(model => model.FNAME)
        </div>

        <div class="display-label">
         LAST NAME
        </div>
        <div class="display-field">
        @Html.DisplayFor(model => model.LNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TITLE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TITLE)
            @Html.ValidationMessageFor(model => model.TITLE)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
