@model IEnumerable<MvcLawFirm.Models.NRBM_STAFF>

@{
    ViewBag.Title = "Index";
}

<h2>Staff Members</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STAFFID }) |
            @Html.ActionLink("Details", "Details", new { id=item.STAFFID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.STAFFID })
        </td>
    </tr>
}

</table>
